h1{
  text-align: center;
  font-family:"Montserrat",sans-serif;
  color: #ffffff;
  /*font-family:"Lato",sans-serif;*/
  /*font-family:"EB Garamond",serif;*/
  font-style: italic;
}

header{
  text-align: center;
  animation: slideInDown 1.5s;
}

nav {
  background-color: rgba(0,0,0,0.25);
  height: 2.4em;
  animation: slideInDown 1.5s;
}

ul{
  padding-top: 0.5em;
  margin: 0;
}
li{
  font-family:"Montserrat",sans-serif;
  display: inline;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

#mulogo{
  height: 100px;
  width: 100px;
}

#footer {
    /*margin-top: -3em;*/
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    padding: 0.7rem;
    background-color: #3399ff;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

body {
  height: 100%;
  min-height: 100%;
  background: #f5f7f9;
  font-family:"Lato",sans-serif;
  background-image: url("../images/forest.jpg");
  background-position: 50%;
}

.flex-container{
  animation: slideInDown 1s;
  padding-bottom: 3.3em;
}

img{
  border-radius:3%;
  max-width:100%;
  height:auto;
  transition:all 0.3s cubic-bezier(0.165, 0.84, 0.24, 1)
}

img:hover {
  transform:scale(1.5);
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  opacity:0.6;
  z-index:1;
  position:relative
}

.flex-item a {
  text-decoration:none;
  color:#69c;
  font-size:1.1em;
  font-weight: bold;
}

.flex-item {
  text-align:center;
}

.flex-item:hover {
  transform:scale(1.1);
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  z-index:1;
  position:relative
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@media screen and (min-width: 0em) {
    .flex-container {
        margin-top: 2.5em
    }
    .row {
        margin: 0 3px 3px
    }
    .flex-item p {
        margin: 3px 0 6px
    }
}

@media screen and (min-width: 30em) {
    .flex-container {
        margin: 3em 1em 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }
    .row {
        margin: 0 3px 10px;
        flex: 0 1 calc(50% - 1em)
    }
    .flex-item p {
        margin: -7px 0 6px
    }
}

@media screen and (min-width: 60em) {
    .row {
        flex: 0 1 calc(25% - 1em)
    }
}
