h1{
  text-align: center;
  font-family:"Montserrat",sans-serif;
  color: #ffffff;
  /*font-family:"Lato",sans-serif;*/
  /*font-family:"EB Garamond",serif;*/
  font-style: italic;
}

header{
  text-align: center;
  animation: slideInDown 1.5s;
}

@media only screen and (max-width: 800px) {
  header {
    height: auto;
  }
  h1 {
    font-size: 1.5em
  }
  
  #mulogo {
    height: 80px;
    /*width: 80px;*/
  }
}
@media only screen and (min-width: 800px) {
  #mulogo{
    height: 120px;
    max-height: 100%;
  }
}

nav {
  position: relative;
  perspective: 600px;
  /*width: 100%;*/
  background-color: rgba(0,0,0,0.25);
  height: 3.3em;
  animation: slideInDown 1.5s;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

.cool > li > a {
  color: yellow;
  font-family:"Montserrat",sans-serif;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.65em 1.5em;
  display: inline-block;
  border-radius:0.5em;
  text-decoration: none;
}

.cool > li {
  position: relative;
  margin: 0.4em 2em;
  display: flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top:-60px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}
.trigger-enter-active .dropdown {
  opacity: 1;
}
.dropdownBackground {
  width:100px;
  height:100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition:all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: none;
  justify-content: center;
  opacity:0;
}
.dropdownBackground.open {
  opacity: 1;
  display: flex;
}
.arrow {
  position: absolute;
  width:20px;
  height:20px;
  display: block;
  background:white;
  transform: translateY(-50%) rotate(45deg);
}

.link3 > li{
  margin-bottom: 1.2em;
}
.link3 > li:last-child {
  margin-bottom: 0;
}
.button {
  border-radius: 4px;
  padding: 0.4em;
  text-decoration: none;
  color : white;
}
.button[href*=facebook]{
  background: #3779e5;
}
.button[href*=manutd]{
  background: #b72512;
}
.button[href*=natemat]{
  background: #e08f1f;
}


#footer {
    /*margin-top: -3em;*/
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    padding: 0.7rem;
    background-color: #FF6600;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

body {
  height: 100%;
  min-height: 100%;
  background: #f5f7f9;
  font-family:"Lato",sans-serif;
  background-image: url("../images/forest.jpg");
  background-position: 50%;
}

.flex-container{
  animation: slideInDown 1s;
}

img{
  border-radius:3%;
  max-width:100%;
  height:auto;
  transition:all 0.3s cubic-bezier(0.165, 0.84, 0.24, 1)
}

img:hover {
  transform:scale(1.5);
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  opacity:0.6;
  z-index:1;
  position:relative
}

.flex-item a {
  text-decoration:none;
  color:#FF6600;
  font-size:1.1em;
  font-weight: bold;
}

.flex-item {
  text-align:center;
}

.flex-item:hover {
  transform:scale(1.1);
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  z-index:1;
  position:relative
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@media screen and (min-width: 0em) {
    .flex-container {
        margin-top: 2.5em
    }
    .row {
        margin: 0 3px 3px
    }
    .flex-item p {
        margin: 3px 0 6px
    }
}

@media screen and (min-width: 30em) {
    .flex-container {
        margin: 3em 1em 0.5em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }
    .row {
        margin: 0 3px 10px;
        flex: 0 1 calc(50% - 1em)
    }
    .flex-item p {
        margin: -7px 0 6px
    }
}

@media screen and (min-width: 60em) {
    .row {
        flex: 0 1 calc(25% - 1em)
    }
}
