@media only screen and (max-width: 800px) {

	#flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	#flip-scroll * html .cf { zoom: 1; }
	#flip-scroll *:first-child+html .cf { zoom: 1; }

	#flip-scroll table { border-collapse: collapse; border-spacing: 0; }

	#flip-scroll th,
	#flip-scroll td { margin: 0; vertical-align: middle; }
	#flip-scroll th { text-align: left; }

	#flip-scroll table { display: block; position: relative; width: 100%; }
	#flip-scroll thead { display: block; float: left; }
	#flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	#flip-scroll thead tr { display: block; }
	#flip-scroll th { display: block; text-align: left; }
	#flip-scroll tbody tr { display: inline-block; vertical-align: bottom; }
	#flip-scroll td { display: block; min-height: 2.04em; text-align: left; }


	 /*sort out borders*/

	#flip-scroll tbody tr { border-left: 2px solid #babcbf}
	#flip-scroll th:last-child{border-bottom: 1px}
	#flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
}
