@font-face {
font-family: 'Open Sans';
src:
    local('Open Sans'),
    local('OpenSans-Regular'),
    url('Open_Sans/OpenSans-Regular.ttf');
}
h1{
  width: 750px;
  margin: 0 auto;
}
body{
background: #E9967A;
font-family: 'Open Sans', sans-serif;
}

.wrapper{

  margin: 0 auto;
}

.container-fluid{
     width: 750px;
     margin: 0 auto;
}

#list {
	text-align: left;
	margin: 0 auto;
	width: 150px;
}

#prompt {
	display: block;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 1px;
}

/*obrazki*/
#twosources{
  text-align: center;
}

img {
    width: 100%;
    height: auto;
}
